<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="activeDatabaseInfo">
      <NewDatabaseInfo>
        <option name="database" value="test" />
        <option name="databaseType" value="MySql" />
        <option name="password" value="root" />
        <option name="url" value="localhost:3306" />
        <option name="userName" value="root" />
      </NewDatabaseInfo>
    </option>
    <option name="databaseInfos">
      <list>
        <NewDatabaseInfo>
          <option name="database" value="test" />
          <option name="databaseType" value="MySql" />
          <option name="password" value="root" />
          <option name="url" value="localhost:3306" />
          <option name="userName" value="root" />
        </NewDatabaseInfo>
      </list>
    </option>
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.example.demo.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/MybatisPlusTest1/src/main/java" />
        <option name="javaModelPackage" value="com.example.demo.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/MybatisPlusTest1/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="MybatisPlusTest1" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="MybatisPlusTest1">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.example.demo.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/MybatisPlusTest1/src/main/java" />
                  <option name="javaModelPacakge" value="com.example.demo.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/MybatisPlusTest1/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/MybatisPlusTest1/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/MybatisPlusTest1/src/main/java" />
                  <option name="xmlPackage" value="com.example.demo.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/MybatisPlusTest1/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="test:brand">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Brand" />
                  <option name="moduleName" value="MybatisPlusTest1" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useLomBokOnModel" value="true" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="com.example.demo.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/MybatisPlusTest1/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>